root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

##### Documents #####

[*.css]
indent_size = 2
max_line_length = 120

[*.{htm,html,xhtml}]
indent_size = 2
max_line_length = 120

[*.{js,jsx,ts,tsx}]
indent_size = 2
max_line_length = 120

[*.json]
indent_size = 2

[*.md]
indent_size = 2

[*.{nsh,nsi}]
indent_size = 2

[*.pro]
indent_size = 2

[*.svg]
indent_size = 2
max_line_length = 120

[*.toml]
indent_size = 2

[*.webmanifest]
indent_size = 2

[*.{xml,xslt}]
indent_size = 2
max_line_length = 120

[*.{yml,yaml}]
indent_size = 2

[.nvmrc]
insert_final_newline = false

##### Shell Scripts #####

[*.{bat,cmd}]
end_of_line = crlf
indent_size = 2
max_line_length = 120

[*.ps1]
end_of_line = lf
max_line_length = 120

[*.sh]
end_of_line = lf
indent_size = 2
max_line_length = 120
