html {
  background-color: #092234;
}
body {
  overflow: hidden;
  margin: 0;
}

@font-face {
  font-family: 'sharpGroteskBook19';
  src: url('https://s3.us-east-2.amazonaws.com/salad-ui-assets/fonts/SharpGroteskBook19.otf');
}

@font-face {
  font-family: 'sharpGroteskBook25';
  src: url('https://s3.us-east-2.amazonaws.com/salad-ui-assets/fonts/SharpGroteskBook25.otf');
}

@font-face {
  font-family: 'SharpGroteskLight05';
  src: url('https://s3.us-east-2.amazonaws.com/salad-ui-assets/fonts/SharpGroteskLight05.otf');
}

@font-face {
  font-family: 'sharpGroteskLight09';
  src: url('https://s3.us-east-2.amazonaws.com/salad-ui-assets/fonts/SharpGroteskLight09.otf');
}

@font-face {
  font-family: 'sharpGroteskLight25';
  src: url('https://s3.us-east-2.amazonaws.com/salad-ui-assets/fonts/SharpGroteskLight25.otf');
}

@font-face {
  font-family: 'sharpGroteskMedium25';
  src: url('https://s3.us-east-2.amazonaws.com/salad-ui-assets/fonts/SharpGroteskMedium25.otf');
}
