parameters:
  - name: workingDirectory
    type: string
    default: ""

stages:
  - stage: DeployDev
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'), ne(variables['Build.Reason'], 'PullRequest'))
    displayName: Deploy to Test Site
    jobs:
      - deployment: DeployDev
        displayName: Deploy to Test Site
        variables:
          - group: Netlify
          - group: DevOps Access Tokens
        environment: Netlify Test
        strategy:
          runOnce:
            deploy:
              steps:
                - template: ../steps/deploy-steps.yaml
                  parameters:
                    workingDirectory: ${{ parameters.workingDirectory }}
                    siteId: b32d496d-3b42-4727-bd8c-5798a32b1ad4
                    siteName: test
                    context: production
